<div
  class="logo navigation__logo navigation__logo--desktop bg-primary-dark-100 d-none d-lg-flex"
>
  <span>HH</span>
</div>
<nav
  class="bg-black-800 d-flex justify-content-between align-items-center navigation bg-black-800"
>
  <div
    class="logo navigation__logo navigation__logo--mobile bg-primary-dark-100 d-lg-none"
  >
    <span>HH</span>
  </div>

  <div
    class="d-lg-none navigation__btn--mobile"
    (click)="onMobileMenuBtnClicked()"
    [class.active]="isMobileMenuActive()"
  >
    <span></span>
  </div>

  <ul
    class="navigation__menu p-0 d-none d-lg-flex flex-lg-column list-unstyled"
  >
    <li>
      <a href="" class="active">
        <ng-icon name="lucideHouse"></ng-icon>
      </a>
    </li>
    <li>
      <a href="" class="active">
        <ng-icon name="lucidePalette"></ng-icon>
      </a>
    </li>
    <li>
      <a href="" class="active">
        <ng-icon name="lucideMail"></ng-icon>
      </a>
    </li>
    <li>
      <a href="" class="active">
        <ng-icon name="lucideBookMarked"></ng-icon>
      </a>
    </li>
    <li>
      <a href="" class="active">
        <ng-icon name="featherHome"></ng-icon>
      </a>
    </li>
  </ul>
</nav>
<ul
  class="d-lg-none navigation__menu--mobile"
  [class.active]="isMobileMenuActive()"
>
  <li>
    <a href="" class="active">Home</a>
  </li>
  <li>
    <a href="">Portfolio</a>
  </li>
  <li>
    <a href="">Contact</a>
  </li>
  <li>
    <a href="">Blog</a>
  </li>
  <li>
    <a href="">Download CV</a>
  </li>
</ul>
