<nav
  class="bg-black-800 d-flex justify-content-between align-items-center navigation bg-black-800"
>
  <div class="logo navigation__logo bg-primary-dark-100">
    <span>HH</span>
  </div>

  <div
    class="d-lg-none navigation__btn--mobile"
    (click)="onMobileMenuBtnClicked()"
    [class.active]="isMobileMenuActive()"
  >
    <span></span>
  </div>

  <!-- <ul></ul> -->
</nav>
<ul
  class="d-lg-none navigation__menu--mobile"
  [class.active]="isMobileMenuActive()"
>
  <li>
    <a href="" class="active">Home</a>
  </li>
  <li>
    <a href="">Portfolio</a>
  </li>
  <li>
    <a href="">Contact</a>
  </li>
  <li>
    <a href="">Blog</a>
  </li>
  <li>
    <a href="">Download CV</a>
  </li>
</ul>
