/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@font-face {
  font-family: "clesmont";
  src: url("../public/fonts/clesmont-clesmont-regular-400.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");

:root {
  --primary-color: #ffcb22;

  // Shades
  --primary-color-darker-100: #dba91c;

  --black-800: rgba(26, 26, 26, 0.85);
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::-moz-selection {
  color: #000000;
  background-color: #dba91c;
}

*::selection {
  color: #000000;
  background-color: #dba91c;
}

*,
*:focus {
  outline: inherit;
}

html {
  overflow: hidden;
  scroll-behavior: smooth;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

body {
  overflow: hidden;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
  padding: 0;
  margin: 0;
  font-family: "Outfit", sans-serif;
  background-color: #000000;
  color: #a5a5a5;
  position: relative;
}

//  Utils

.bg-primary {
  background-color: var(--primary-color) !important;
}

.bg-primary-dark-100 {
  background-color: var(--primary-color-darker-100);
}

.bg-black-800 {
  background-color: var(--black-800);
}
